.botoes-index{
    width: auto;
    height: auto;
    position: absolute;
    left: calc(50% - 300px);
    top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.btn{
    background-color: #202020;
    width: 288px;
    height: 155px;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}

a:link {
    text-decoration: none;
  }


.btn:hover{
    background-color: #353535;
    
}



  .botoes-index, .botoes-cadastro, .botoes-dep{
    width: 600px;
    height: 300px;
    position: relative;
    left: calc(50% - 600px);
    top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}






  .formulario{
    width: 800px;
    height: auto;
    position: relative;
    left: calc(50% - 400px);
    display: none;
    top: 100px;

  }

  .mostrarForm{
    display: block;
  }



  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 100%;
  }

  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }

  td {
    text-align: center;
  }


  #codigo{
    width: 100%;
    height: 100%;
    outline: none;
  }

  #descricao{
    width: 100%;
    height: 100%;
    outline: none;
  }

  #add{
    width: 100%;
    height: 30px;
    outline: none;
    background-color: #202020;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 0;
  }

  .btn-edit, .btn-delete{
    width: 10%;
    height: 100%;
    outline: none;
    background-color: #202020;
    color: white;
    cursor: pointer;
 
    
  }

 

  .incluir{
    width: 60vw;
    height: auto;
    position: relative;
    top: 100px;
    left: 20vw;
    display: none;
  }

  .mostrarIncluir{
    display: block;
  }

  .inputs{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
  }

  .confirm{
    position: absolute;
    right: 0;
    background-color: #202020;
    color: white;
    border: none;
    height: 30px;
    display: none;
    cursor: pointer;

  }

  .open{
    display: block;
    
  }

  @media (max-width: 600px) {
    
    .btn{
    width: 188px;
    height: 155px;
    
    }

    .botoes{
        left: 8vw;
    }

    .botoes-index, .botoes-cadastro {
        width: 300px;
        height: 450px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        left: 4vw;
    }

    .botoes-dep{
      width: 300px;
      height: 330px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      left: 4vw;
      
    }

    .formulario{
        width: 400px;
        left: 3vw;
    
      }

      .incluir{
        
        width: 80vw;
        left: 7vw;
      }

  }